:root {
  --gunmetal: #0a2e36ff;
  --spring-green: #27fb6bff;
  --dark-spring-green: #0c7c59ff;
  --black-bean: #732635;
  --poppy: #da2c38ff;

  --gunmetal-light: #104956ff;
  --spring-green-light: #4bfb83ff;
  --dark-spring-green-light: #0f956aff;
  --black-bean-light: #ae384e;
  --poppy-light: #dd404bff;

  --white: white;
  --gray-ultra-light: #fafafa;
  --gray-light: #f2f2f2;
  --gray-medium: #e6e6e6;
  --gray-dark: #808080;
  --gray-ultra-dark: #1a1a1a;
  --black: black;

  --rounded-small: 8px;
  --rounded: 16px;

  --gap-small: 8px;
  --gap: 16px;
  --gap-large: 32px;
  --gap-xlarge: 64px;

  --padding-small: 8px;
  --padding: 16px;
  --padding-large: 32px;

  --margin-small: 8px;
  --margin: 16px;
  --margin-large: 32px;
}

@font-face {
  font-family: "Inter Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/inter/files/inter-latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  min-height: 100vh;
  font-family: "Inter Variable", sans-serif;
  font-size: 16px;
  display: grid;

  grid: "header" auto "main" 1fr "footer" auto / 1fr;
  gap: 16px;
  margin: 0;
}

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.25em;
  letter-spacing: 0.05em;
  margin: 0px;
}

h1,
.h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.25em;
  letter-spacing: 0.05em;
  margin: 0px;
}

h2,
.h2 {
  font-size: 32px;
  font-weight: 550;
  line-height: 1.25em;
  letter-spacing: 0.05em;
  margin: 0px;
}

h3,
.h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.25em;
  letter-spacing: 0.05em;
  margin: 0px;
}

strong,
.strong {
  font-weight: 600;
}

p,
.p {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  margin: 0px;
}

caption,
.caption {
  font-size: 10px;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  margin: 0px;
}

table {
  width: 100%;
  border-spacing: 0;
}

th {
  text-align: left;
  padding: var(--padding-small);
  background-color: var(--gray-medium);
}

tr:nth-child(odd) {
  background-color: var(--gray-light);
}
tr:nth-child(even) {
  background-color: var(--gray-ultra-light);
}

table tr:first-child th:first-child {
  border-top-left-radius: var(--rounded);
}

table tr:first-child th:last-child {
  border-top-right-radius: var(--rounded);
}

table tr:last-child td:first-child {
  border-bottom-left-radius: var(--rounded);
}

table tr:last-child td:last-child {
  border-bottom-right-radius: var(--rounded);
}

td {
  padding: var(--padding-small);
}

/* width */
::-webkit-scrollbar {
  height: 12px;
  border-radius: 0 0 16px 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--gray-ultra-light);
  border-radius: 0 0 16px 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray-medium);
  border-radius: 8px 8px 8px 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-dark);
  border-radius: 8px 8px 8px 8px;
}

@media (max-width: 1023px) {
  body {
    font-size: 12px;
  }
  .display {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.25em;
    letter-spacing: 0.05em;
    margin: 0px;
  }

  h1,
  .h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25em;
    letter-spacing: 0.05em;
    margin: 0px;
  }

  h2,
  .h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.25em;
    letter-spacing: 0.05em;
    margin: 0px;
  }

  h3,
  .h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25em;
    letter-spacing: 0.05em;
    margin: 0px;
  }
}
