---
import { db, Entry, eq } from "astro:db"
import FormButton from "../components/atoms/FormButton.astro"
import Input from "../components/atoms/Input.astro"
import Form from "../components/molecules/Form.vue"
import Hero from "../components/organisms/Hero.astro"
import Layout from "../layouts/Layout.astro"

// Almacenamos el usuario de la sesión actual
const user = Astro.locals.user

// En caso de no existir usuario autenticado, redireccionamos a la página de registro
if (!user) {
  return Astro.redirect("/singup")
}

// Obtenemos entradas para sugerir la cantidad inicial
const lastEntry = (
  await db.select().from(Entry).where(eq(Entry.userId, user.id))
).at(-1)

console.log(lastEntry)
---

<Layout title="Añadir entrada">
  <main>
    <Hero id="add-entry-form">
      <h1>Añadir entrada</h1>
      <Form action="/api/entries" method="POST" client:load>
        <Input
          type="number"
          id="initialamount"
          name="initialamount"
          label="Cantidad inicial"
          placeholder="100,00"
          required={true}
          value={"" + lastEntry?.finalAmount}
          min={0.0}
          step={0.01}
        />
        <Input
          type="number"
          id="finalamount"
          name="finalamount"
          label="Cantidad final"
          placeholder="100,00"
          required={true}
          min={0.0}
          step={0.01}
        />
        <FormButton
          type="submit"
          color="var(--white)"
          bgColor="var(--dark-spring-green)"
          bgColorHover="var(--dark-spring-green-light)"
        >
          Añadir entrada
        </FormButton>
      </Form>
    </Hero>
  </main>
</Layout>
