---
import { db, User, eq } from "astro:db"
import FormButton from "../components/atoms/FormButton.astro"
import Input from "../components/atoms/Input.astro"
import Form from "../components/molecules/Form.vue"
import Hero from "../components/organisms/Hero.astro"
import Layout from "../layouts/Layout.astro"

// Almacenamos el usuario de la sesión actual
const user = Astro.locals.user

// En caso de no existir usuario autenticado, redireccionamos a la página de registro
if (!user) {
  return Astro.redirect("/singup")
}

// Obtenemos datos del usuario
const userData = (await db.select().from(User).where(eq(User.id, user.id))).at(
  0
)
---

<Layout title="Registro">
  <main>
    <Hero id="update-user-form">
      <h1>Cambiar contraseña</h1>
      <Form action="/api/auth/change-password" method="PUT" client:load>
        <Input
          type="password"
          id="currentPassword"
          name="currentPassword"
          label="Contraseña actual"
          placeholder="*******"
          required={true}
        />
        <Input
          type="password"
          id="newPassword"
          name="newPassword"
          label="Nueva contraseña "
          placeholder="*******"
          required={true}
        />
        <FormButton
          type="submit"
          color="var(--white)"
          bgColor="var(--dark-spring-green)"
          bgColorHover="var(--dark-spring-green-light)"
        >
          Cambiar contraseña
        </FormButton>
      </Form>
    </Hero>
  </main>
</Layout>
