---
import { db, eq, User, Entry } from "astro:db"
import FormButton from "../components/atoms/FormButton.astro"
import HeaderSection from "../components/organisms/HeaderSection.astro"
import Section from "../components/organisms/Section.astro"
import Layout from "../layouts/Layout.astro"
import TotalCard from "../components/atoms/TotalCard.astro"
import FloatButton from "../components/atoms/FloatButton.astro"
import BarChart from "../components/molecules/BarChart.astro"

// Almacenamos el usuario de la sesión actual
const user = Astro.locals.user

// En caso de no existir usuario autenticado, redireccionamos a la página de registro
if (!user) {
  return Astro.redirect("/singup")
}

// Obtenemos datos del usuario
const userData = (await db.select().from(User).where(eq(User.id, user.id))).at(
  0
)

//Obtenemos las entradas del usuario
const entries = await db.select().from(Entry).where(eq(Entry.userId, user.id))

//Función de media de ahorro
const average = (entries: any) => {
  let i
  let element = 0.0
  for (i = 0; i < entries.length; i++) {
    const savings = (entries[i].finalAmount - entries[i].initialAmount)
    element = element + savings
    
  }
  return element/i
}

// const chartLabels = entries.map((entry) => (entry.createdAt.toLocaleDateString("Es-es")))
// const chartData = entries.map((entry) => (entry.createdAt.toLocaleDateString("Es-es")))

const chartData = [
  { label: "Enero", value: 50 },
  { label: "Febrero", value: 75 },
  { label: "Marzo", value: 100 },
  { label: "Abril", value: 25 },
  { label: "Mayo", value: 50 },
]
---

<Layout title="Dashboard">
  <header>
    <HeaderSection id="header">
      <h1>{userData?.firstName + " " + userData?.lastName}</h1>
      <form action="/api/singout" method="post">
        <FormButton type="submit">Cerrar sesión</FormButton>
      </form>
    </HeaderSection>
  </header>
  <main>
    <FloatButton href="/add-entry">Añadir entrada</FloatButton>
    {entries.length == 0 ? (<p>Aún no tienes entradas</p>) 
      : (
    <Section id="totals">
      <div class="container-horizontal">
        <TotalCard>
          <strong>Dinero total</strong>
          <p class="h2"> { new Intl.NumberFormat("Es-es", {
            style: "currency",
            currency: "EUR",
          }).format(entries[entries.length-1].finalAmount)} </p>
        </TotalCard>
        <TotalCard>
          <strong>Media de ahorro</strong>
          <p class="h2">{ new Intl.NumberFormat("Es-es", {
            style: "currency",
            currency: "EUR",
          }).format(average(entries))}</p>
        </TotalCard>
      </div>
    </Section>
    <Section id="entries">
      <div class="container-horizontal">
        <table>
          <tr>
            <th>Fecha</th>
            <th>Catidad inicial</th>
            <th>Catidad final</th>
            <th>Ahorro</th>
          </tr>
          {
            entries.map((entry) => (
              <tr>
                <td>{entry.createdAt.toLocaleDateString("Es-es")}</td>
                <td>
                  {new Intl.NumberFormat("Es-es", {
                    style: "currency",
                    currency: "EUR",
                  }).format(entry.initialAmount)}
                </td>
                <td>
                  {new Intl.NumberFormat("Es-es", {
                    style: "currency",
                    currency: "EUR",
                  }).format(entry.finalAmount)}
                </td>
                <td>
                  {new Intl.NumberFormat("Es-es", {
                    style: "currency",
                    currency: "EUR",
                  }).format(entry.finalAmount - entry.initialAmount)}
                </td>
              </tr>
            ))
          }
        </table>
        <div class="container-vertical">
          <BarChart data={chartData} label="Dinero total"></BarChart>
          <BarChart data={chartData} label="Ahorro"></BarChart>
        </div>
      </div>
    </Section>)
    }
  </main>
</Layout>
<style>
  .container-horizontal {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: var(--gap);
  }

  .container-vertical {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: var(--gap);
  }

  /* Media query para dispositivos móviles */
  @media (max-width: 767px) {
    div {
      flex-direction: column;
    }
  }
</style>