---
import FormButton from "../components/atoms/FormButton.astro"
import Input from "../components/atoms/Input.astro"
import Form from "../components/molecules/Form.vue"
import Hero from "../components/organisms/Hero.astro"
import Layout from "../layouts/Layout.astro"

// Almacenamos el usuario de la sesión actual
const user = Astro.locals.user

// En caso de no existir usuario autenticado, redireccionamos a la página de registro
if (!user) {
  return Astro.redirect("/singup")
}
---

<Layout title="Registro">
  <main>
    <Hero id="delete-user-form">
      <h1>Eliminar cuenta</h1>
      <Form action="/api/user" method="DELETE" client:load>
        <Input
          type="password"
          id="password"
          name="password"
          label="Confirmar contraseña actual"
          placeholder="*******"
          required={true}
        />
        <FormButton
          type="submit"
          color="var(--white)"
          bgColor="var(--poppy)"
          bgColorHover="var(--poppy-light)">Eliminar cuenta</FormButton
        >
      </Form>
    </Hero>
  </main>
</Layout>
