---
import Button from "../components/atoms/Button.astro"
import SecondaryButton from "../components/atoms/SecondaryButton.astro"
import Hero from "../components/organisms/Hero.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Ahorro App - Tu app de ahorro">
  <main>
    <Hero id="Inicio">
      <h1 class="display">Ahorro App</h1>
      <div>
        <Button href="/singin">Iniciar sesión</Button>
        <SecondaryButton href="/singup">Registrarse</SecondaryButton>
      </div>
    </Hero>
  </main>
</Layout>

<style>
  div {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
  }
</style>
