---
import Button from "../components/atoms/Button.astro"
import Hero from "../components/organisms/Hero.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Ahorro App - Tu app de ahorro">
  <main>
    <Hero id="Inicio">
      <h1 class="display">AhorroApp</h1>
      <div>
        <Button
          href="/signin"
          color="var(--white)"
          bgColor="var(--dark-spring-green)"
          bgColorHover="var(--dark-spring-green-light)">Iniciar sesión</Button
        >
        <Button
          href="/signup"
          color="var(--black)"
          bgColor="var(--gray-light)"
          bgColorHover="var(--gray-medium)">Registrarse</Button
        >
      </div>
    </Hero>
  </main>
</Layout>

<style>
  div {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
  }
</style>
