---
import { db, eq, User } from "astro:db"
import Button from "../components/atoms/Button.astro"
import RedFormButton from "../components/atoms/RedFormButton.astro"
import Layout from "../layouts/Layout.astro"
import SecondaryButton from "../components/atoms/SecondaryButton.astro"
import HeaderSection from "../components/organisms/HeaderSection.astro"
// Almacenamos el usuario de la sesi칩n actual
const user = Astro.locals.user

// En caso de no existir usuario autenticado, redireccionamos a la p치gina de registro
if (!user) {
  return Astro.redirect("/singup")
}

// Obtenemos datos del usuario
const userData = (await db.select().from(User).where(eq(User.id, user.id))).at(
  0
)
---

<Layout title="Perfil">
  <header>
    <HeaderSection id="header">
      <h1>{userData?.firstName + " " + userData?.lastName}</h1>
      <form action="/api/singout" method="post">
        <RedFormButton type="submit">Cerrar sesi칩n</RedFormButton>
      </form>
    </HeaderSection>
  </header>
  <main>
    <div>
      <Button href="/update-user">Editar perfil</Button>
      <!-- <Button href="/update-password">Cambiar contrase침a</Button>-->
    </div>
  </main>
</Layout>
<style>
  div {
    display: flex;
    gap: var(--gap);
  }
  @media (max-width: 768px) {
    div {
      flex-direction: column;
      align-items: stretch;
    }
  }
</style>
