---
import FormButton from "../components/atoms/FormButton.astro"
import Input from "../components/atoms/Input.astro"
import Form from "../components/molecules/Form.astro"
import Hero from "../components/organisms/Hero.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Iniciar sesi칩n">
  <main>
    <Hero id="singin-form">
      <h1>Iniciar sesi칩n</h1>
      <Form action="/api/singin" method="POST">
        <Input
          type="text"
          id="username"
          name="username"
          label="Nombre de usuario"
          placeholder="fer07"
          required={true}
        />
        <Input
          type="password"
          id="password"
          name="password"
          label="Contrase침a"
          placeholder="********"
          required={true}
        />
        <FormButton type="submit">Iniciar sesi칩n</FormButton>
      </Form>
    </Hero>
  </main>
</Layout>
