---
interface Props {
  href: string
}

const { href } = Astro.props
---

<a href={href}>
  <slot />
</a>

<style>
  a {
    padding: 16px 32px;
    background-color: var(--dark-spring-green);
    border-radius: var(--rounded-small);
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
  }

  a:hover {
    background: var(--dark-spring-green-light);
  }
</style>
