---
interface Props {
  href: string
  color: string
  bgColor: string
  bgColorHover: string
}

const { href, color, bgColor, bgColorHover } = Astro.props
---

<a href={href}>
  <slot />
</a>

<style define:vars={{ color, bgColor, bgColorHover }}>
  a {
    padding: 16px 32px;
    background-color: var(--bgColor);
    border-radius: var(--rounded-small);
    color: var(--color);
    text-decoration: none;
    font-weight: 600;
    text-align: center;
  }

  a:hover {
    background-color: var(--bgColorHover);
  }
</style>
