<button type="submit"><slot /></button>
<style>
  button {
    font-size: 12px;
    font-weight: 600;
    padding: 4px 8px;
    border: 0px;
    border-radius: var(--rounded-small);
    color: white;
    background-color: var(--poppy);
  }
  button {
    margin: 0px;
    line-height: 12px;
    letter-spacing: 0px;
  }
</style>
