---
interface Props {
  type: "submit" | "button" | "reset"
}

const { type } = Astro.props
---

<button type={type}><slot /></button>
<style>
  button {
    font-family: "Inter Variable", sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 32px;
    background-color: var(--poppy);
    border: 0px;
    border-radius: var(--rounded-small);
    color: var(--white);
  }

  button:hover {
    background: var(--poppy-light);
  }

  @media (max-width: 1023px) {
    button {
      font-size: 12px;
    }
  }
</style>
