---
interface Props {
  method: string
  action: string
}

const { method, action } = Astro.props
---

<form method={method} action={action}>
  <slot />
</form>

<style>
  form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: var(--gap-large);
  }
  /* Media query para tablets */
  @media (min-width: 768px) and (max-width: 1023px) {
    form {
      width: 75%;
    }
  }

  /* Media query para dispositivos móviles */
  @media (max-width: 767px) {
    form {
      width: 90%;
    }
  }
</style>
